{% extends 'base.html' %}

{% block content %}
<div id="wrapper">
    <div class="inner">
        <h2>Cambiar contraseña</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <label for="id_new_password1">Nueva contraseña:</label>
                        <div class="password-toggle">
                            {{ form.new_password1 }}
                            <i class="fas fa-eye toggle-password" toggle="#id_new_password1"></i>
                        </div>

                        {% if form.new_password1.errors %}
                            <ul class="error">
                                {% for error in form.new_password1.errors %}
                                    <li>
                                        {% if error == "This password is too short. It must contain at least %(min_length)d characters." %}
                                            La contraseña es muy corta. Debe tener al menos 8 caracteres.
                                        {% elif error == "The password is too similar to the username." %}
                                            La contraseña es muy similar al nombre de usuario.
                                        {% elif error == "This password is too common." %}
                                            Esta contraseña es muy común.
                                        {% elif error == "This password is entirely numeric." %}
                                            La contraseña no puede ser completamente numérica.
                                        {% else %}
                                            {{ error }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="help-text">
                            <ul>
                                <li>Su contraseña no puede ser similar a su información personal</li>
                                <li>Debe contener al menos 8 caracteres</li>
                                <li>No puede ser una contraseña comúnmente utilizada</li>
                                <li>No puede ser enteramente numérica</li>
                            </ul>
                        </div>
                    </div>
                    <div class="field half">
                        <label for="id_new_password2">Confirmar nueva contraseña:</label>
                        <div class="password-toggle">
                            {{ form.new_password2 }}
                            <i class="fas fa-eye toggle-password" toggle="#id_new_password2"></i>
                        </div>
                        {% if form.new_password2.errors %}
                            <ul class="error">
                                {% for error in form.new_password2.errors %}
                                    <li>
                                        {% if error == "The two password fields didn't match." %}
                                            Las contraseñas no coinciden
                                        {% else %}
                                            {{ error }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Cambiar contraseña" class="primary" /></li>
                </ul>
            </form>
        {% else %}
            <p>El enlace de recuperación es inválido o ya ha sido usado. Por favor, solicita un nuevo enlace.</p>
            <ul class="actions">
                <li><a href="{% url 'password_reset' %}" class="button">Solicitar nuevo enlace</a></li>
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}