{% extends 'base.html' %}

{% block content %}
<section>
  <header class="major">
    <h2>Eliminar mis datos</h2>
    <p>¿Estás seguro de que deseas eliminar todos tus datos del sistema?</p>
  </header>

  <form method="post">
    {% csrf_token %}
    <ul class="actions">
      <li><button type="submit" class="button primary" style="background-color: red;">Eliminar datos</button></li>
      <li><a href="{% url 'panel_usuario' %}" class="button">Cancelar</a></li>
    </ul>
  </form>
</section>
{% endblock %}