{% extends 'base.html' %}

{% block content %}
<div id="main">
    <div class="inner">
        <header class="major">
            <h2>Bienvenida {{ perfil.user.first_name }}</h2>
        </header>

        <section>
            <div class="box">
                <h3>Información personal</h3>
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <ul class="alt">
                            <li><strong>Nombre de usuaria: </strong> {{ perfil.user.username|default:"No especificado" }}</li>
                            <li><strong>Nombre completo: </strong> {{ perfil.user.first_name|default:"No especificado" }} {{ perfil.user.last_name|default:"No especificado" }}</li>
                            <li><strong>RUT:</strong> {{ rut_completo|default:"No especificado" }}</li>
                            <li><strong>Email:</strong> {{ email_descifrado|default:"No especificado" }}</li>
                            <li><strong>Teléfono:</strong> {{ telefono|default:"No especificado" }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="actions">
            <ul class="actions stacked">
                <li><a href="{% url 'usuario_index' %}" class="button primary fit">Volver</a></li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
