{% extends 'base.html' %}
{% load static %}  <!-- ¡Esta línea es crucial! -->

{% block title %}Red Tami cervicouterino{% endblock %}

{% block content %}

<!-- Wrapper -->
    <div id="wrapper">

    <!-- Header -->
        <header id="header">
            <div class="inner">

            <!-- Logo -->
                <a href="index.html" class="logo">
                    <span class="symbol"><img src="{% static 'images/logo.svg' %}" alt="" /></span><span class="title">Red Tami Cervicouterino.</span>
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                    <li><a href="generic.html">Consequat dolor</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
        </nav>

    <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1> Red Tami Cancer Cervicouterino.</h1> <br />
                        <p> Encontrarás información sobre el cáncer cervicouterino, VPH y mucho más.</p>
                </header>
                            
{% endblock %}