{% extends 'base.html' %}

{% block title %}Respuesta factores riesgo modificables{% endblock %}

{% block content %}
<h2 class="major">Datos Factores Riesgos Modificables</h2>
<a class="button" href="{% url 'respuestas' %}">Volver</a>

<section id = "usuarios" >
    {% if Datos %}
    <div class = "table-wrapper">

        <table border="1">
            <thead>
                <tr>
                    <td colspan="7"><b>Total de respuestas: {{ Datos|length }}</b></td>
                </tr>
                <tr>
                    <th>#</th>
                    <th>ID MANYCHAT</th>
                    <th>Rut</th>
                    <th>Dígito verificador rut</th>
                    <th>Pregunta</th>
                    <th>Respuesta</th>
                    <th>Fecha Respuesta</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in Datos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dato.id_manychat }}</td>
                    <td>{{ dato.id_manychat__rut_usuario }}</td>
                    <td>{{ dato.id_manychat__dv_rut }}</td>
                    <td>{{ dato.id_opc_frm__id_preg_frm__preg_frm }}</td>
                    <td>{{ dato.id_opc_frm__opc_resp_frm }}</td>
                    <td>{{ dato.fecha_respuesta_frm }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No hay datos ingresados</p>
    {% endif%}

    <div style="text-align: center;">
        <form action="{% url 'crear_excel_datos_frm1' %}" method="post">
            {% csrf_token %}
            <button type="submit">Descargar como Excel</button>
        </form>
            <a href="{% url 'crear_pdf_datos_frm1' %}" class="btn btn-danger">
            <i class="fas fa-file-pdf"></i> Exportar a PDF
        </a>
    </div>

    <a class="button" href="{% url 'respuestas' %}">Volver</a>
</secion>

<style>
    #usuarios {
        margin-top: 2em;
    }

    .table-wrapper {
        overflow-x: auto;
        max-width: 90%; 
        margin: 0 auto; 
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto; 
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f2849e;
        color: white;
    }
</style>

{% endblock %}
