{% extends 'base.html' %}

{% block title %}Contraseña listado priorizado{% endblock %}

{% block content %}

<h2 class="major">Acceso a listado priorizado</h2>

<section>
    <div class="form-container"> <!-- Contenedor para el formulario -->
        <form method="POST" class="password-form">
            {% csrf_token %}
            <label for="password">Ingrese la contraseña:</label>
            <input type="password" name="password" required class="password-input">
            <br>
            <button type="submit" class="submit-button">Acceder</button>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
    <a class="button" href="{% url 'respuestas' %}">Volver</a>
</section>

<style>
    h2.major {
        font-size: 2rem; 
        text-align: center; 
        word-wrap: break-word; 
        margin: 10px auto;
        max-width: 90%; 
    }
    
    @media (max-width: 768px) {
        h2.major {
            font-size: 1.5rem; /* Reduce el tamaño en móviles */
        }
    }
    
    @media (max-width: 480px) {
        h2.major {
            font-size: 1.2rem;
        }
    }

    .form-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 20px auto; 
        max-width: 400px;
        width: 100%; 
    }

    .password-form {
        width: 100%;
        text-align: center;
    }

    .password-input {
        width: 80%; 
        padding: 10px; 
        margin: 10px 0;
        font-size: 16px;
        border: 1px solid #ccc; 
        border-radius: 5px; 
    }

</style>
{% endblock %}