{% extends 'base.html' %}
{% block title %}Listado de Usuarios{% endblock %}
{% block content %}
<section class="wrapper">
  <div class="inner">
    <header class="major">
      <h2>Usuarios Registrados</h2>
    </header>
    <a href="{% url 'gestion_usaurios' %}" class="button primary icon solid fa-plus">Crear nuevo usuario</a>
    <div class="table-wrapper" style="margin-top: 20px;">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for perfil in perfiles %}
          <tr>
            <td>{{ perfil.user.username }}</td>
            <td>{{ perfil.user.email }}</td>
            <td>{{ perfil.telefono }}</td>
            <td>
              <a href="{% url 'editar_usuario' perfil.id_perfil %}" class="button small">Editar</a>
              <a href="{% url 'eliminar_usuario' perfil.id_perfil %}" class="button small alt">Eliminar</a>
            </td>
          </tr>
      <div class="pagination-container" style="display: flex; justify-content: center; align-items: center; gap:30px; margin: 20px 0;">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="button small">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="button small">Anterior</a>
        {% endif %}

        <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
        
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="button small">Siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="button small">Última &raquo;</a>
        {% endif %}
      </div>
    
          {% empty %}
          <tr>
            <td colspan="4">No hay usuarios registrados aún.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}