{% extends 'base.html' %}
{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div id="main">
    <div class="inner">
        <header>
            <h1>Administración de Red Tami Cancer Cervicouterino.</h1> <br />
            <p>Etiam quis viverra lorem, in semper lorem...</p>
        </header>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>

        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="{% static 'images/pic01.jpg' %}" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Reportes</h2>
                    <div class="content">
                        <p>Gráficos de las respuestas</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="{% static 'images/pic02.jpg' %}" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Lorem</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>
{% endblock %}
