{% extends 'base.html' %}

{% block title %}Descarga de Horarios por CESFAM{% endblock %}

{% block content %}
<h2>Descargar horarios agendados por CESFAM</h2>

<table class="table">
    <thead>
        <tr>
            <th>CESFAM</th>
            <th>Horas Agendadas</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for cesfam in cesfams %}
        <tr>
            <td>{{ cesfam.nombre_cesfam }}</td>
            <td>{{ cesfam.num_horas }}</td>
            <td>
                <a href="{% url 'descargar_json_cesfam' cesfam.id_cesfam %}" 
                   class="btn btn-primary btn-sm {% if not cesfam.num_horas %}disabled{% endif %}">
                   Descargar JSON
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay CESFAM disponibles</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<section>
  <a class="button" href="{% url 'opc_vis_agenda' %}">Volver</a>   
</section>
{% endblock %}