{% extends 'base.html' %}

{% block title %}Preguntas A Especialistas{% endblock %}

{% block content %}

<h2>Descargar JSON por CESFAM</h2>
<section>
    <a class="button" href="{% url 'opc_vis_agenda' %}">Volver</a>   
</section>
<table>
  <thead>
    <tr>
      <th>Nombre CESFAM</th>
      <th>Descargar</th>
    </tr>
  </thead>
  <tbody>
    {% for cesfam in cesfams %}
    <tr>
      <td>{{ cesfam.nombre_cesfam }}</td>
      <td>
        <a href="{% url 'descargar_json_por_cesfam' cesfam.id_cesfam %}" class="button is-primary">
          Descargar JSON
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<section>
    <a class="button" href="{% url 'opc_vis_agenda' %}">Volver</a>   
</section>

{% endblock %}