{% extends 'base.html' %}
{% block title %}Listado de Usuarios{% endblock %}
{% block content %}
<section class="wrapper">
  <div class="inner">
    <header class="major">
      <h2>Usuarios Registrados</h2>
    </header>
    <a href="{% url 'crear_usuario' %}" class="button primary icon solid fa-plus">Crear nuevo usuario</a>
    <div class="table-wrapper" style="margin-top: 20px;">
      <section>
      <a class="button" href="{% url 'admin_index' %}">Volver</a>
    </section>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for perfil in perfiles %}
          <tr>
            <td>{{ perfil.user.username}}</td>
            <td>{{ perfil.user.first_name}}</td>
            <td>{{ perfil.user.last_name}}</td>
            <td>{{ perfil.user.email }}</td>
            <td>{{ perfil.telefono }}</td>
            <br>
            <td>
              <a href="{% url 'editar_usuario' perfil.id_perfil %}" class="button small">Editar</a>
              <a href="{% url 'eliminar_usuario' perfil.id_perfil %}" class="button small alt">Eliminar</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">No hay usuarios registrados aún.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <section>
     <a class="button" href="{% url 'admin_index' %}">Volver</a>
  </section>
</section>
{% endblock %}