{% extends 'base.html' %}

{% block title %}Listado Ordenable{% endblock %}

{% block content %}
<h2 class="major">Datos Listado Ordenable</h2>
<a class="button" href="{% url 'salir_listado_priorizado' %}">Volver</a>


<form method="get" action="" style="text-align:center; margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Buscar por RUT, ID ManyChat" value="{{ query|default:'' }}" style="padding: 8px; width: 300px;">
    <br>
    <button type="submit" class="button small">Buscar</button>
    <br>
    <br>
    {% if query %}
        <a href="{% url 'listado_priorizado' %}" class="button small" style="margin-left: 10px;">Limpiar</a>
    {% endif %}
</form>

<section id="usuarios">
    {% if page_obj  %}
    <div class="table-wrapper">
        <table border="1">
            <thead>
                <tr>
                    <td colspan="10"><b>Total de respuestas: {{ page_obj.paginator.count }}</b></td>
                </tr>
                <tr>
                    <th>#</th>
                    <th>ID MANYCHAT</th>
                    <th>Rut</th>
                    <th>Dígito verificador</th>
                    <th>WhatsApp</th>
                    <th>Email usuario</th>
                    <th>Edad</th>
                    <th>Comuna</th>
                    <th>PAP alterado</th>
                    <th>Parejas sexuales</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in page_obj  %}
                <tr>
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>{{ dato.id }}</td> 
                    <td>{{ dato.rut_usuario }}</td>
                    <td>{{ dato.dv_rut }}</td>  
                    <td>{{ dato.num_whatsapp }}</td>  
                    <td>{{ dato.email }}</td>  
                    <td>{{ dato.edad }}</td>
                    <td>{{ dato.nombre_comuna }}</td>  
                    <td>{{ dato.pap_alterado }}</td>
                    <td>{{ dato.parejas_sexuales }}</td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-container" style="display: flex; justify-content: center; align-items: center; gap:30px; margin: 20px 0;">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="button small">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="button small">Anterior</a>
        {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>
        
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="button small">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="button small">Última &raquo;</a>
    {% endif %}
    </div>
    {% else %}
    <p>No hay datos ingresados</p>
    {% endif %}
     <div style="text-align: center;">
        <br>
        <form action="{% url 'crear_excel_listado_priorizado' %}" method="post">
            {% csrf_token %}
            <button type="submit">Descargar como Excel</button>
        </form>
        <br>
        <a href="{% url 'crear_pdf_listado_priorizado' %}" class="btn btn-danger">
            <i class="fas fa-file-pdf"></i> Exportar a PDF
        </a>
    </div>

    <a class="button" href="{% url 'salir_listado_priorizado' %}">Volver</a>
</section>

<style>
    #usuarios {
        margin-top: 2em;
    }

    .table-wrapper {
        overflow-x: auto;
        max-width: 90%; 
        margin: 0 auto; 
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto; 
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2849e;
        color: white;
        text-align: left;
    }
</style>

{% endblock %}