{% extends 'base.html' %}
{% block title %}Listado de Usuarios{% endblock %}
{% block content %}
<section class="wrapper">
  <div class="inner">
    <header class="major">
      <h2>Usuarios Registrados</h2>
    </header>

    <a href="{% url 'crear_usuario' %}" class="button primary icon solid fa-plus">Crear nuevo usuario</a>

    <div class="table-wrapper" style="margin-top: 20px;">
      <section>
        <a class="button" href="{% url 'admin_index' %}">Volver</a>
      </section>

      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>RUT</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for perfil in page_obj %}
          <tr>
            <td>{{ perfil.user.username }}</td>
            <td>{{ perfil.user.first_name }}</td>
            <td>{{ perfil.user.last_name }}</td>
            <td>{{ perfil.user.email }}</td>
            <td>{{ perfil.get_telefono_descifrado|default:"-" }}</td>
            <td>
              {% if perfil.get_rut_descifrado %}
                {{ perfil.get_rut_descifrado }}-{{ perfil.get_dv_descifrado }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              <a href="{% url 'editar_usuario' perfil.id_perfil %}" class="button small">Editar</a>
              <a href="{% url 'eliminar_usuario' perfil.id_perfil %}" class="button small alt">Eliminar</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">No hay usuarios registrados aún.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination-container" style="display: flex; justify-content: center; align-items: center; gap:30px; margin: 20px 0;">
        {% if page_obj.has_previous %}
          <a href="?page=1" class="button small">&laquo; Primera</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="button small">Anterior</a>
        {% endif %}

        <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="button small">Siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="button small">Última &raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>

  <section>
    <a class="button" href="{% url 'admin_index' %}">Volver</a>
  </section>
</section>
{% endblock %}