{% extends 'base.html' %}
{% load static %}

{% block title %}Determinantes sociales de la salud{% endblock %}

{% block content %}

<h2 class="major">Determinantes sociales de la salud</h2>

<section class="tiles">
    <article class="style1">
        <span class="image">
            <img src="{% static 'images/pic01.jpg' %}" alt="" />
        </span>
        <a href="{% url 'datos_DS1' %}">
            <h2>Opción 1: Listado detallado de respuestas de Determinantes Sociales</h2>
            <div class="content">
                <p>Se visualiza cada respuesta de determinantes de la salud como un listado individual.</p>
            </div>
        </a>
    </article>
    <article class="style2">
        <span class="image">
            <img src="{% static 'images/pic02.jpg' %}" alt="" />
        </span>
        <a href="{% url 'datos_DS2' %}">
            <h2>Opción 2: Resumen de respuestas por usuario de Determinantes Sociales</h2>
            <div class="content">
                <p>Se visualiza un resumen completo de las preguntas de determinantes sociales por cada usuario.</p>
            </div>
        </a>
    </article>    
</section>
<br>
<section>
    <a class="button" href="{% url 'respuestas' %}">Volver</a>   
</section>

{% endblock %}