{% extends 'base.html' %}
{% load static %}

{% block title %}Red Tami Cervicouterino{% endblock %}

{% block content %}


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
                <a href="{% url 'admin_index'%}" class="logo">
                    <span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span><span class="title">Red Tami</span> 
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menú</a></li>
                    </ul>
                </nav>

        </div>
</header>

    <!-- Menu -->
        <nav id="menu">
            <h2>Menú</h2>
            <ul>
                <li><a href="{% url 'admin_index' %}">Home</a></li>
                <li><a href="{% url 'respuestas' %}">Respuestas de los usuarios</a></li>
                <li><a href="{% url 'reportes' %}">Reportes</a></li>
                <li><a href="{% url 'opc_vis_agenda' %}">Agenda</a></li>
                <li><a href="{% url 'lista_usuarios' %}">Gestión de usuarios</a></li>
            </ul>
        </nav>

    <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Administración de Red Tami Cáncer Cervicouterino</h1> <br />
                    <p>Panel de administración del equipo de Red Tami</p>
                </header>
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="{% static 'images/pic01.jpg' %}" alt="" />
                        </span>
                        <a href="{% url 'historial_agendamientos' %}">
                            <h2>Historial de agendamientos</h2>
                            <div class="content">
                                <p>Visualización de historial de agendamiento de las usuarias</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="{% static 'images/pic02.jpg' %}" alt="" />
                        </span>
                        <a href="{% url 'json_cesfam' %}">
                            <h2>Descargar JSON</h2>
                            <div class="content">
                                <p>Descargar JSON con las horas agendadas</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="{% static 'images/pic03.jpg' %}" alt="" />
                        </span>
                        <a href="{% url 'historial_descargas_json' %}">
                            <h2>Historial de Descargas JSON</h2>
                            <div class="content">
                                <p>Historial de descargas de JSON (log)</p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
        </div> 
    <section>
      <a class="button" href="{% url 'admin_index' %}">Volver</a>   
    </section>
</div>	

{% endblock %}