{% extends 'base.html' %}
{% load static %}

{% block title %}Factores de riesgo no modificables{% endblock %}

{% block content %}

<h2 class="major">Factores de riesgo no modificables</h2>

<section class="tiles">
    <article class="style3">
        <span class="image">
            <img src="{% static 'images/pic03.jpg' %}" alt="" />
        </span>
        <a href="{% url 'datos_FRNM1' %}">
            <h2>Opción 1: Listado detallado de respuestas de Factores de riesgo no modificables</h2>
            <div class="content">
                <p>Se visualiza cada respuesta de factores de riesgo no modificables como un listado individual.</p>
            </div>
        </a>
    </article>
    <article class="style4">
        <span class="image">
            <img src="{% static 'images/pic04.jpg' %}" alt="" />
        </span>
        <a href="{% url 'datos_FRNM2' %}">
            <h2>Opción 2: Resumen de respuestas por usuario de Factores de riesgo no modificables</h2>
            <div class="content">
                <p>Se visualiza un resumen completo de las preguntas de factores de riesgo no modificables por cada usuario.</p>
            </div>
        </a>
    </article>    
</section>
<br>
<section>
    <a class="button" href="{% url 'respuestas' %}">Volver</a>   
</section>

{% endblock %}