{% extends 'base.html' %}

{% block title %}Preguntas A Especialistas{% endblock %}

{% block content %}
<h2 class="major">Preguntas A Especialistas</h2>
<a class="button" href="{% url 'respuestas' %}">Volver</a>
<section id="usuarios">
    

    {% if page_obj %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td colspan="6"><b>Total de respuestas: {{ page_obj.paginator.count }}</b></td>
                </tr>
                <tr>
                    <th>#</th>
                    <th>ID MANYCHAT</th>
                    <th>Rut</th>
                    <th>Pregunta</th>
                    <th>Fecha Pregunta</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dato.id_manychat.id_manychat }}</td>
                    <td>{{ dato.id_manychat.rut_usuario }}-{{ dato.id_manychat.dv_rut }}</td>
                    <td>{{ dato.texto_pregunta }}</td>
                    <td>{{ dato.fecha_pregunta_texto|date:"d-m-Y H:i:s" }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination" style="text-align: center; margin: 20px 0;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="button small">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="button small">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="button small">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="button small">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <p>No hay datos ingresados</p>
    {% endif %}

    <div style="text-align: center;">
        <form action="{% url 'crear_excel_preg_especialista' %}" method="post">
            {% csrf_token %}
            <button type="submit">Descargar como Excel</button>
        </form>
    <br>
        <a href="{% url 'crear_pdf_preg_especialista' %}" class="btn btn-danger">
            <i class="fas fa-file-pdf"></i> Exportar a PDF
        </a>
    <br>
    </div>
    <a class="button" href="{% url 'respuestas' %}">Volver</a>
</section>

<style>
    #usuarios {
        margin-top: 2em;
    }

    .table-wrapper {
        overflow-x: auto;
        max-width: 90%; 
        margin: 0 auto; 
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto; 
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f2849e;
        color: white;
    }
</style>

{% endblock %}
