{% extends 'base.html' %}

{% block title %}Reportes{% endblock %}

{% block content %}

<h2 class="major">Reportes</h2>
<a class="button" href="{% url 'admin_index' %}">Volver</a>

<section id="reportes">
    {% if hay_datos %}
        <!-- Aquí pondrías tus gráficos -->
        <p>Aquí irán los gráficos</p>
    {% else %}
        <p>No hay reportes disponibles en este momento.</p>
    {% endif %}
    <a class="button" href="{% url 'admin_index' %}">Volver</a>
</section>

<style>
    .chart-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    section#reportes {
        text-align: center;
    }
</style>

{% endblock %}