{% extends 'base.html' %}
{% load static %}

{% block title %}Respuestas de los usuarios{% endblock %}

{% block content %}
	
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
					<a href="{% url 'admin_index' %}" class="logo">
						<span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span><span class="title">Red Tami</span> 
					</a>

				<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu">Menú</a></li>
						</ul>
					</nav>

			</div>
		</header>

	<!-- Menu -->
		<nav id="menu">
			<h2>Menú</h2>
			<ul>
				<li><a href="{% url 'admin_index'%}">Home</a></li>
				<li><a href="{% url 'datos_perfil' %}">Datos del perfil</a></li>
				<li><a href="{% url 'tamizaje' %}">Tamizaje</a></li>
				<li><a href="{% url 'opc_vis_FRM' %}">Factores de riesgo modificables</a></li>
				<li><a href="{% url 'opc_vis_FRNM'%}">Factores de riesgo no modificables</a></li>
				<li><a href="{% url 'opc_vis_DS'%}">Determinantes sociales de la salud</a></li>
				<li><a href="{% url 'preg_especialista'%}">Pregunta a especialista</a></li>
				<li><a href="{% url 'listado_priorizado'%}">Listado priorizado</a></li>
			</ul>
		</nav>

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<h1>Administración de Red Tami Cáncer Cervicouterino</h1> <br />
					<p>Panel de administración del equipo de Red Tami</p>
				</header>
				<section class="tiles">
					<article class="style1">
						<span class="image">
							<img src="{% static 'images/pic01.jpg' %}" alt="" />
						</span>
						<a href="{% url 'datos_perfil' %}">
							<h2>Datos del perfil</h2>
							<div class="content">
								<p>Información con los datos del perfil de los usuarios</p>
							</div>
						</a>
					</article>
					<article class="style2">
						<span class="image">
							<img src="{% static 'images/pic02.jpg' %}" alt="" />
						</span>
						<a href="{% url 'tamizaje' %}">
							<h2>Tamizaje</h2>
							<div class="content">
								<p>Respuestas de tamizaje de las usuarias</p>
							</div>
						</a>
					</article>
					<article class="style3">
						<span class="image">
							<img src="{% static 'images/pic03.jpg' %}" alt="" />
						</span>
						<a href="{% url 'opc_vis_FRM' %}">
							<h2>Factores de riesgo modificables</h2>
							<div class="content">
								<p>Respuestas de los factores de riesgo modificables de las usuarias</p>
							</div>
						</a>
					</article>
					<article class="style4">
						<span class="image">
							<img src="{% static 'images/pic04.jpg' %}" alt="" />
						</span>
						<a href="{% url 'opc_vis_FRNM'%}">
							<h2>Factores de riesgo no modificable</h2>
							<div class="content">
								<p>Respuestas de los factores de riesgo no modificables de las usuarias</p>
							</div>
						</a>
					</article>
					<article class="style5">
						<span class="image">
							<img src="{% static 'images/pic05.jpg' %}" alt="" />
						</span>
						<a href="{% url 'opc_vis_DS'%}">
							<h2>Determinantes sociales de la salud</h2>
							<div class="content">
								<p>Respuestas de los determinantes sociales de la salud de las usuarias</p>
							</div>
						</a>
					</article>
					<article class="style6">
						<span class="image">
							<img src="{% static 'images/pic06.jpg' %}" alt="" />
						</span>
						<a href="{% url 'preg_especialista'%}">
							<h2>Pregunta a especialista</h2>
							<div class="content">
								<p>Preguntas a especialista de las usuarias</p>
							</div>
						</a>
					</article>
					<article class="style2">
						<span class="image">
							<img src="{% static 'images/pic07.jpg' %}" alt="" />
						</span>
						<a href="{% url 'listado_priorizado'%}">
							<h2>Listado Priorizado</h2>
							<div class="content">
								<p>Respuestas clave en la detección del cáncer cervicouterino</p>
							</div>
						</a>
					</article>
				</section>
			</div>
		</div>

</div>
		
{% endblock %}